.modal {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  transition: visibility.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__caption {
  background-color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-block;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  width: unset;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  padding: 0;
  border-radius: 8px;
}

.modal__close-button {
  color: white;
  background: transparent;
  border: transparent;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__close-button:hover {
  opacity: 0.8;
}

.modal__close-button_type_preview {
  top: 0px;
  right: -52.5px;
  opacity: 1;
}

.modal__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 32px;
}
.modal__label {
  color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__label:hover {
  opacity: 0.8;
}

.modal__submit-button {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 156px;
  height: 52px;
  padding: 18px 0;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }
  .modal__close-button {
    top: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-button_type_preview {
    position: absolute;
    right: 40;
    top: 20;
    z-index: 10;
  }
}
