.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile_description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  font: Poppins, Arial, Helvetica, sans-serif;
  opacity: 0.7;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  width: 121px;
  height: 18px;
  margin-top: auto;
  color: #212121;
  background: transparent;
  border: transparent;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  position: relative;
  margin-top: auto;
  right: 0;
  bottom: 0;
  width: 149px;
  height: 52px;
  margin-left: auto;
  padding: 18px, 32px;
  border-radius: 8px;
  background-color: black;
  color: white;
}

.profile__add-button:hover {
  background-color: #212121;
  opacity: 0.8;
  transform: scale(1.1);
  border: 1px solid #ddd;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 2880px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile_description {
    margin: 0 0 32px;
    font-size: 16;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
