.profile {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  border-radius: 8px;
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 420px;
}

.profile__name {
  color: #212121;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  opacity: 0.7;
  color: #212121b2;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  margin-right: 20px;
}

.profile__edit-button {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  opacity: 0.7;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  width: fit-content;
  display: flex;
  padding: 0;
  gap: 8px;
  margin-top: auto;
  color: #212121;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
}

/* .profile__edit-button::before {
  cursor: pointer;
  content: "";
  width: 16px;
  height: 16px;
  display: block;
} */

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  cursor: pointer;
  position: relative;
  margin-top: auto;
  width: 149px;
  height: 52px;
  margin-left: auto;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    max-width: 288px;
  }

  .profile__avatar {
    margin: 0 0 12px 0;
    height: 80px;
    width: 80px;
    margin-left: 0;
  }

  .profile__column {
    margin-bottom: 20px;
    align-items: center;
  }

  .profile__name {
    text-align: center;
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
    text-align: center;
  }

  .profile__add-button {
    margin: 0 auto;
    width: 100%;
  }
}
